.blog{
    width: 100%;
    // height: 770px;

    @extend %section-header;

    .blog-items{
        margin-bottom: 70px;
        // section.blog-item{
        
            .blog-item-logo{
                // width: 100%;
                width:100%;
                height: 100%;
                position: relative;

                .blog-item-logo__img{
                    width: 100%;
                    height: 100%;
                }

                .blog-item-logo__date{
                    position: absolute;
                    width: 60px;
                    height: 70px;
                    background-color: $color-ocean;
                    bottom: 10px;
                    left: -7px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;

                    .blog-item-logo__date-day{
                        font-family: Montserrat,Roboto;
                        font-size: 30px;
                        line-height: 1.2;
                        font-weight: 700;
                        color: #ffffff;
                    }
                    .blog-item-logo__date-month{
                        font-family: Montserrat,Roboto;
                        font-size: 15px;
                        line-height: 1.2;
                        font-weight: 300;
                        font-style: italic;
                        text-transform: uppercase;
                        color: #ffffff;
                    }
                }
            }

            .blog-item-content{
                width: 100%;

                .blog-item-content__title{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: #333333;
                    margin-top: 20px;
                    text-align: left;
                    margin-bottom: 10px;
                }

                .blog-item-content__text{
                    font-family: Roboto;
                    font-size: 15px;
                    line-height: 24px;
                    font-weight: 400;
                    color: #999999;
                    padding: 0;
                    margin: 0;
                }
            }

            .blog-item-meta{
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
                margin-bottom: 50px;
                padding-top: 20px;
                border-top: 1px solid #e5e5e5;
                

            .blog-item-meta__views, .blog-item-meta__comments{
                font-family: Roboto;
                font-size: 15px;
                font-weight: 300;
                font-style: italic;
                color: #999999;
                margin-right: 20px;

                i.fas{
                    margin-right: 5px;
                    color: $color-ocean;
                }
            }
            }
        // }
    }
    
}