@mixin divHeight($height) {
    header{
        height: $height;
    }
    .slider{
        height: $height;
    }
    .header-content{
        height: $height;
    }
    .subheader{
        height: $height;
    }
}